h1 {
 text-align: center;
 font-size: 7vw;
 text-shadow:              
    0px 2px black,
    0px -2px black,
    2px 0px black,
    -2px 0px black;

 font-family: "Chewy";
 outline: 1px black;
 color: white;
}

body {
    background-image: url(pcParts/all.png);
    background-position: center;
    background-size: 10vw;
}

button {
    position: absolute;
    width: 30%;
    font-size: 6vw;
    font-family: "Chewy";
    background-color: white;
    border: 2px black solid;
    border-radius: 20%;
    text-align: center;
    margin-top: 6vw;
}

#result {
    background-color: white;
    border: 2px black solid;
    font-size: 2vw;
    text-align: center;
    padding: 1vw;
    font-family: "Chewy";
    border-radius: 20%;
}